<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs tuan</title>
</head>
<body>
    <h1>From view helloo tuan hihi gg</h1>
</body>
</html>